<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>App</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
</head>

<body>
  <%- include('partials/header.ejs') %>

    <div class="flashes">
      <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
          <div class="flash success">
            <%= flashMessages.success %>
          </div>
          <% } else if (flashMessages.error) { %>
            <div class="flash error">
              <%= flashMessages.error %>
            </div>
            <% } %>
              <% } %>
    </div>

    <%- body %>

      <%- include('partials/footer.ejs') %>
</body>

</html>